.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; /* Adjust the height as needed */
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto;
    text-align: center;
  }
  
  .redirect-button-container {
    margin-top: 20%;
  }
  
  .redirect-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
  }
  
  .redirect-button:hover {
    background-color: #3a863e;
  }
  